* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css generali */

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* css header */

header {
    position: relative;
    width: 100%;
    background-color: #3060DF;
}

header div, img, a {
    padding: 20px;
    line-height: 80px;
    vertical-align: middle;
}

.head-logo, .head-button {
    width: 20%;
    float: left;
}

.head-links {
    width: 60%;
    float: left;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.head-button a {
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    color: black;
}

/* css slider */

#slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.slider-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.slider-container h1 {
    padding: 50px;
    margin: auto;
    font-weight: 800;
    font-size: 3em;
}

.slider-container p {
    padding: 30px;
    line-height: 25px;
}

.slider-button a {
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    color: black;
    margin: auto;
    margin: 40px;
}

#black {
    background-color: black;
    color: white;
}

/* css main */

main {
    color:#292841;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

main .section {
    width: 100%;
    vertical-align: middle;
    margin-bottom: 25vh;
}

/* css sezione a due colonne */

.section .section-image {
    width: 50%;
    float: left;
    height: 50%;
}

.section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .section-text {
    width: 50%;
    float: left;
    height: 50%;
    padding: 50px;
}

.section-text h2 {
    line-height: 25px;
    vertical-align: center;
    margin-bottom: 20px;
}

/* css sezione a tre righe */

.section .section-text-a {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.section .section-image-a {
    width: 100%;
    float: top;
}

.section-image-a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-text-a h2 {
    line-height: 25px;
    vertical-align: center;
    margin-bottom: 20px;
}

.section-footer {
    position: relative;
    text-align: center;
}

/* .section-footer img {
    width: 100%;
    top: 0;
    left: 0;
} */

.section-footer h4 {
    margin: 0 auto;
    background-image: url("../img/stars.svg");
    background-size: contain;
    padding: 20px;
}

.section-footer a {
    text-decoration: none;
    color: white;
    background-color: #A1B0E4;
    border-radius: 25px;
    padding: 15px;
}

/* css footer */

footer {
    background-color: #23272A;
}

.list-container {
    width: 80%;
    float: right;
}

footer ul {
    display: inline-block;
}

footer ul li {
    list-style: none;
    height: 40px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer li:first-of-type a {
    color: #A1B0E4;
    font-size: bold;
}